* {
  margin: 0px;
  box-sizing: border-box;
}

.fonts-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* This is head section */
header {
  /* #fff8f3; */
  background-color: #fff8f3;
  background: url("../images/developer.png"), url("../images/header_bg.png"),
    #fff8f3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
nav {
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding-top: 51px;
  align-items: center;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

.logo h2 {
  font-size: 45px;
}
.logo-r {
  color: #fd6e0a;
}

.hire-me-button {
  font-size: 20px;
  padding: 18px 35px;
  background-color: #fd6e0a;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* This is banar section */
#banar {
  margin: 47px 36px 0 207px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banar-content {
  width: 585px;
}
#banar-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banar-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

#banar-content p {
  font-size: 18px;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
}

.download-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 19px 17px;
  border-radius: 5px;
  background-color: #fd6e0a;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 19px 23px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border: 2px solid #fd6e0a;
  background-color: white;
  color: #fd6e0a;
}
#banar-image-container {
  width: 584px;
}
#banar-image-container img {
  width: 100%;
  vertical-align: middle;
}

/* This section is for main section */
.about-me-section {
  border: 1px solid rgba(255, 0, 0, 0.564);
  padding: 130px 230px;
}
.about-me-container {
  padding: 130px 150px;
  background-color: #fff8f3;
  max-width: 1140px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-me-header-description {
  text-align: center;
}
.about-me-header-description h1 {
  font-size: 35px;
  font-weight: bold;
}
.about-me-header-description p {
  font-size: 18px;
  margin-top: 30px;
  color: #757575;
}
.about-me-contact-details {
  max-width: 782px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.about-me-contact-details p {
  font-size: 16px;
  color: #757575;
  padding-bottom: 4px;
  max-width: 780px;
}
.about-me-contact-details h2 {
  font-size: 16px;
  font-weight: bold;
  color: #474747;
}
.about-me-email a {
  color: #474747;
}

.what-i-do-section {
  padding: 130px 230px;
}
.what-i-do-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/* .what-i-do-description {

} */
.what-i-do-description h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 25px;
}
.what-i-do-description p {
  max-width: 827px;
  margin: 0px auto;
  color: #757575;
  font-size: 18px;
  text-align: center;
}
.what-i-do-experience {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.what-i-do-card {
  max-width: 267px;
  padding: 20px;
  text-align: start;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}
.image-container {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
}
.what-i-do-experience-description {
}
.what-i-do-experience-description h1 {
  font-size: 20px;
  font-weight: bold;
}
.what-i-do-experience-description p {
  font-size: 16px;
  color: #757575;
  margin-top: 20px;
}
