* {
  margin: 0px;
  box-sizing: border-box;
}

.fonts-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* This is head section */
header {
  /* #fff8f3; */
  background-color: #fff8f3;
  background: url("../images/developer.png"), url("../images/header_bg.png"),
    #fff8f3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
nav {
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding-top: 51px;
  align-items: center;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

.logo h2 {
  font-size: 45px;
}
.logo-r {
  color: #fd6e0a;
}

.hire-me-button {
  font-size: 20px;
  padding: 18px 35px;
  background-color: #fd6e0a;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* This is banar section */
#banar {
  margin: 47px 36px 0 207px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banar-content {
  width: 585px;
}
#banar-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banar-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

#banar-content p {
  font-size: 18px;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
}

.download-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 19px 17px;
  border-radius: 5px;
  background-color: #fd6e0a;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 19px 23px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border: 2px solid #fd6e0a;
  background-color: white;
  color: #fd6e0a;
}
#banar-image-container {
  width: 584px;
}
#banar-image-container img {
  width: 100%;
  vertical-align: middle;
}

/* This section is for main section */
hr {
  color: #e4e4e4;
}
.about-me-section {
  padding: 130px 230px;
}
.about-me-container {
  padding: 130px 150px;
  background-color: #fff8f3;
  max-width: 1140px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.about-me-header-description {
  text-align: center;
}
.about-me-header-description h1 {
  font-size: 35px;
  font-weight: bold;
}
.about-me-header-description p {
  font-size: 18px;
  margin-top: 30px;
  color: #757575;
}
.about-me-contact-details {
  max-width: 782px;

  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}
.about-me-contact-details p {
  font-size: 18px;
  color: #757575;
  padding-bottom: 4px;
  max-width: 780px;
  font-weight: 400;
}
.about-me-contact-details h2 {
  font-size: 18px;
  font-weight: bold;
  color: #474747;
  flex-wrap: wrap;
}
.about-me-email a {
  color: #474747;
}

.what-i-do-section {
  padding: 0px 230px;
}
.what-i-do-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/* .what-i-do-description {

} */
.what-i-do-description h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 25px;
}
.what-i-do-description p {
  max-width: 827px;
  margin: 0px auto;
  color: #757575;
  font-size: 18px;
  text-align: center;
}
.what-i-do-experience {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.what-i-do-card {
  max-width: 267px;
  padding: 20px;
  text-align: start;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}
.image-container {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
}
.what-i-do-experience-description {
}
.what-i-do-experience-description h1 {
  font-size: 20px;
  font-weight: bold;
}
.what-i-do-experience-description p {
  font-size: 16px;
  color: #757575;
  margin-top: 20px;
}

.summary-of-my-resume-container {
  padding: 130px 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summary-of-my-resume-header {
  text-align: center;
  margin-bottom: 80px;
  font-size: 35px;
  font-weight: bold;
}
.summary-of-my-resume {
  display: flex;
  column-gap: 50px;
  justify-content: center;
}
.my-education,
.my-experience {
  max-width: 511px;
  color: #474747;
  font-size: 20px;
  font-weight: bold;
}
.education-card {
}
.my-education h3,
.my-experience h3 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #474747;
}
.education-card h3,
.Experience-card h3 {
  color: #474747;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.my-education-uni-name,
.my-experience-workplace-name {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}
.my-education-description-skills,
.my-experience-description-skills {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 30px;
}
.resume-download-CV {
  background-color: #fd6e0a;
  color: white;
  font-size: 27px;
  padding: 19px 17px;
  margin-top: 50px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
